{{!-- <script id="entry" type="text/x-handlebars-template"> --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <title>Yum Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
            <script src="/assets/js/burgers.js"></script>
</head>
<body>

    <img src="/assets/img/hamburger.png" alt="burger" align= "center">

    {{{ body }}}
</body>
</html>
