<h1>Yummy Burgers!</h1>

<h2>Add a Burger</h2>
<form class = "create-form">

    <div class = "form-group">
        <label for="burger01">Burger Name:</label>
        <input type="text" id="burger01" name="burger_name">
        <button type="submit" class= "add-burger">Submit</button>

    </div>


</form>

<h2>Eat-da-burgers!</h2>

<div class = "col-sm-6">

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
        {{/unless}}
    {{/each}}
</ul>

</div>

<div class = "col-sm-6">
<h2>Burgers Devoured:</h2>
<ul>
{{#each burgers}}
    {{#if this.devoured}}
    <li> {{this.burger_name}}
</li>
    {{/if}}
{{/each}}
</ul>
</div>

    <p><div id="footer">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></p>


