<h1>Burgers!</h1>

<h2>Devour the burgers!</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers Devoured!</h2>

<ul>
 {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}

</ul>

<h2>Add a Burger</h2>
<form class = "create-form">

    <div class = "form-group">
        <label for="burger01">Burger:</label>
        <input type="text" id="burger01" name="name">
    </div>

    <div class = "form-group">
        <label for="devoured">Devoured:</label>
    </div>

<!-- add a button to submit new burger --> 

    <button type="submit" class= "add-burger">Add a Burger</button>

</form>

